body {
    background: linear-gradient(black, rgb(174, 174, 174))
}
.tagasi {
    position: relative;
    font-size: 20px;
    color: white;
    font-family: Geneva;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 6px 12px;
    left: 0.5%;
    top: 10px;
    border-radius: 20px;
    z-index: 1000;
}
.tagasi:hover {
    background: white;
    color: black;
}
section {
    width: 100%;
    height: 100%;
}
section img#taust {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    height: auto;
    background-size: contain;
    object-fit: cover;
    z-index: 1;
}
.header {
    position: sticky;
    color: white;
    font-family: Geneva;
    font-size: 80px;
    text-align: center;
    margin-top: 240px;
    text-shadow: 3px 3px 8px #202020;
    z-index: 100000;
    padding: 0px;
}