body {
    background: linear-gradient(black, rgb(174, 174, 174))
}
.tagasi {
    position: relative;
    font-size: 20px;
    color: white;
    font-family: Lucida Bright;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 6px 12px;
    left: 0.5%;
    top: 10px;
    border-radius: 20px;
    z-index: 1000;
}
.tagasi:hover {
    background: white;
    color: black;
}
section {
    width: 100%;
    height: 100%;
}
section img#taust {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    outline: none;
    width: 100%;
    height: auto;
    background-size: contain;
    object-fit: cover;
    z-index: 1;
}
.header {
    position: sticky;
    color: white;
    font-family: Geneva;
    font-size: 80px;
    text-align: center;
    margin-top: 240px;
    text-shadow: 3px 3px 8px #202020;
    z-index: 100000;
    padding: 0px;
}
.sisu {
    position: relative;
    padding: 0;
    margin: 0;
    top: 150px;
}
.rida {
    position: relative;
    padding-bottom: 80px;
    margin: 0;
    top: 50px;
}
.veerg1 {
    position: relative;
    width: 300px;
    left: 20px;
    z-index: 1000;
    top: 0;
}
.veerg1 img {
    display: block;
    width: 100%;
    border-radius: 20px;
}
.veerg2 {
    position: relative;
    width: 300px;
    left: 480px;
    z-index: 1000;
    top: -300px;
}
.veerg2 img {
    display: block;
    width: 100%;
    border-radius: 20px;
}
.veerg3 {
    position: relative;
    width: 300px;
    left: 920px;
    margin-top: -600px;
    z-index: 1000;
}
.veerg3 img {
    display: block;
    width: 100%;
    border-radius: 20px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    font-family: 'Quicksand', sans-serif;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}
.overlay:hover {
    opacity: 1;
}
.title {
    font-size: 25px;
    font-weight: bold;
}
.description {
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
}