html{
    height: 100%;
    overflow: hidden;
}

body{
    background-color: #666;
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.parallax{
    background-image: url(white-wall-living-room-have-sofa-decoration-3d-rendering_41470-3282.webp);
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.lifehackid{
    position: relative;
    font-size: 20px;
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 6px 12px;
    left: 0.5%;
    top: 10px;
    border-radius: 20px;
    font-weight: bold;
    z-index: 1000;
}

.ilu{
    position: relative;
    font-size: 20px;
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 6px 12px;
    left: 935px;
    top: 10px;
    border-radius: 20px;
    z-index: 1000;
}

.muu{
    position: relative;
    font-size: 20px;
    color: #666;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 6px 12px;
    left: 940px;
    top: 10px;
    border-radius: 20px;
    z-index: 1000;
}

.lifehackid:hover{
    background: #FEFBEA;
    color: #666;
}
.ilu:hover{
    background: #FEFBEA;
    color: #666;
}
.muu:hover{
    background: #FEFBEA;
    color: #666;
}

.header{
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 200px;
}

.text-box{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 400%;
    text-align: center;
    color: #666;
}

.section{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
    margin: 0 10px 0 0;
}

h2{
    font-size: 30px;
    text-align: center;
    color: #FEFBEA;
    margin: 15% 25px 0 25px;
}

p{
    text-align: center;
    padding: 0 5px;
    color: #FEFBEA;
    font-size: 20px;
    height: 80px;
    margin: 20px;
}

ul{
    text-align: left;
    padding: 0 30px;
    color: #FEFBEA;
    font-size: 20px;
    height: 80px;
    margin: 20px;
}

img{
    max-width: 100%;
    height: 400px;
    width: 250px;
}