body{
    background-color: #222222;
    overflow-x: hidden
}

.header{
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: -8px;
    margin-bottom: 30px;
    padding: 5px;
    background-color: #f88379;
}

.headerContent{
    font-style: italic;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    color: beige;
    width: 960px;
    margin: 0 auto;
}

h2{
    font-size: 30px;
    text-align: center;
    color: beige;
    margin-top: 15%;
}

p{
    text-align: center;
    padding: 0 5px;
    color: beige;
    font-size: 20px;
    height: 80px;
}

ul{
    text-align: left;
    padding: 0 30px;
    color: beige;
    font-size: 20px;
    height: 80px;
}

img{
    max-width: 100%;
    border-radius: 16px;
    height: 400px;
    width: 250px;
}

.row{
    display: flex;
    padding-bottom: 15px;
}

.column{
    flex: 50%;
    padding: 5px;
}